<!DOCTYPE html>
<html>
<head>
    <title>Los Angeles Crime Data</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Add custom CSS for styling -->
    <style>
        /* Add your custom CSS styles here */
        body {
            background-color: #f0f2f2;
        }
        .container {
            margin-top: 30px;
        }
        .jumbotron {
            background-image: ; /* Add your background image */
            background-size: cover;
            color: #1013c0;
            padding: 50px;
        }

        
    </style>
</head>
<body>

    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Los Angeles Crime Data</a>
    </nav>

    <!-- Jumbotron Header -->
    <div class="jumbotron">
        <h1 class="display-4"style="
        color: black;">Welcome to the Los Angeles Crime Data API</h1>
        <p class="lead">Explore crime incidents in the City of Los Angeles since 2020.</p>
    </div>

    <!-- Container for Project Description -->
    <div class="container">
        <h2>About the Project</h2>
        <p>This dataset reflects incidents of crime in the City of Los Angeles from 2020 to current. Use this API to access and analyze crime data for research, insights, and more.</p>
    </div>

    <!-- Container for API Instructions -->
    <div class="container">
        <h2>How to Use the API</h2>
        <ol>
            <li>Access the available API routes:</li>
            <ul>
                <li><a href="/api/v1.0/sample_data">/api/v1.0/sample_data</a> - Retrieve sample data</li>
                <li><a href="/api/v1.0/summary">/api/v1.0/summary</a> - Access yearly summary data</li>
                <li><a href="/api/v1.0/summary_yearly_monthly_area_crime_description">/api/v1.0/summary_yearly_monthly_area_crime_description</a> - Access summary data</li>
            </ul>
            <li>Click on the links to explore each API route.</li>
            <li>Retrieve and analyze the data for your needs.</li>
        </ol>
    </div>

    

    <!-- Include Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
